 *{
    margin: 0;
    padding: 0;
} 

/*font   font-family: 'Poppins', sans-serif; */
body{
    
    font-family: 'Poppins', sans-serif;
   font-size: 20px;
   background-color: #8ab0c7;
}

/*mi header*/

header{
    display:flex;
    color: rgb(43, 5, 5);
    background: rgb(0,112,255);
    background: rgb(0,112,255);
    background: linear-gradient(90deg, rgba(0,112,255,0.7959558823529411) 5%, rgba(19,26,74,1) 37%);
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display:flex;
    align-items: center;
    
}





.logo img{
    height: 50px;
    margin-right: 10px;
}





/* mi menu */



.menu{
    list-style: none;
    padding: 0;
    margin:auto;
   
    
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}


/* animacion */

.menu li a{
    position: relative;
    font-weight:bold;
    color:#166ea4;
    margin: 0px 15px;
}
.menu li a:after{
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #1d4cc4;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}
.menu li a:hover:after{
    opacity:1;
    transform: translateY(15px)
}


/* productos */

.container{
    display:flex;
    flex-wrap: wrap;
    
 }
 .item{
    padding: 3em;
 }


/*                              galeria           */

.grid-item{
    display: flex;
   align-items: center;
    justify-content: center; 

    
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item:hover{
    filter: opacy(0.9);
    transform: scale(1.04);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}
.grid-container img{
    width: auto;
    height: 500px;
}

@media (min-whidth: 600px){

.wide {
    grid-column: span 2;

}

.tall{
    grid-row: span 2;
}
}

/*         animacion           galeria           */

.galeria p{

        background: linear-gradient(to right, rgb(56, 96, 169), rgb(142, 187, 250));

}
     
.galeria p {

       

        text-shadow: 1px 3px #5d5dcc, 1px -3px #3a63d3;

}
    


/*                       servicios                  */

.cos{
    display: flex;
    justify-content: center;

}


.uniformes{
    font-family: 'Poppins', sans-serif;
   font-size: 60px;
   background-color: rgb(181, 204, 253);
   text-align: center;
}

.uniformes h4{
    font-family: 'Poppins', sans-serif;
   font-size: 30px;
}
/* animacion servicio */
.uniformes{

    color: transparent;
    -moz-text-stroke-width: 2px;
  
    -webkit-text-stroke-width: 2px;
  
    -moz-text-stroke-color: #000000;
  
    -webkit-text-stroke-color: #2a217d;
  
  }
  
  .uniformes p {
  
    text-shadow: 7px 0px #5e5ebb;
  
  }





/*              Nosotros */

.marca p {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    background-color: rgb(181, 204, 253);
    text-align: center;
    animation: smoky 5s 3s both;
 }

 .marca h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    background-color: rgb(169, 188, 227);
    text-align: center;
 }

 .item{
   float:left;
   background-color: #7cb8f8;
   margin-top: 0px;
   
   
 }
 .item img{
    display:block;
   position:relative;

 }


/* animacion NOSOTROS */

.marca{

  color: transparent;
  -moz-text-stroke-width: 2px;

  -webkit-text-stroke-width: 2px;

  -moz-text-stroke-color: #000000;

  -webkit-text-stroke-color: #060340;

}

.marca p{

  text-shadow: 7px 7px #8d93ff;

}





 /*              Mapa            */

 .mapa p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(178, 238, 244);
    text-align: center;
 }

 .mapa1{
    display: flex;
    justify-content: center;
 }


 /*              contacto           */






form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
 }

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-size: 30px;
 }

 input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
 }

 textarea{
    min-height: 100px;
    max-height: 200px;
 }

 #boton{
    background: #000000;
    color: #fff;
    padding: 20px;
 }

 #boton:hover{
    cursor: pointer;
 }


 
 /*              Footer           */

 .footer {
    background: rgb(26,22,93);
    background: linear-gradient(0deg, rgba(26,22,93,1) 3%, rgba(34,102,195,1) 98%);
    padding: 2em ;
    text-align: center;
    color: #fff;
    width: 100%;
    
}

.buho{
    text-align:start;
   
}

.direction{
      font-size: medium;
      text-align: center;
      
}

.derechos{
    text-align: center;
}

.fa-brands{
    color: #8ab0c7;
    font-size: 50px;
}